<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ partial "head.html" . }}
</head>
<body>

{{ partial "navbar.html" . }}

<main>
  <div class="bg-blue-500 pt-16 pb-8 text-white">
    <div class="container">
      <h2 class="page-title">{{ .Title }}</h2>
    </div>
  </div>
  <div class="container py-8">
    <div class="section prose">
      {{ .Content }}
    </div>
  </div>
</main>

{{ partial "landing/donate.html" . }}
{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>
