.content {
  h2, h3 {
    margin-top: map_get($spacers, 6);
  }

  h4, h5 {
    margin-top: map_get($spacers, 5);
  }

  .alert {
    margin: map_get($spacers, 5) 0;

    p, ol, ul {
      margin-bottom: 0;
    }
  }

  hr {
    margin: map_get($spacers, 6) 0;
  }

  img {
    margin: 0;
    box-shadow: $box-shadow-sm;
  }

  table {
    @extend .table;
  }

  figure {
    margin: map_get($spacers, 4) 0;

    a {
      display: block;
    }

    img {
      height: auto;
    }
  }

  code {
    background-color: $gray-100;
    padding: .125rem .25rem;
    border-radius: $border-radius;
  }

  pre code {
    background-color: inherit;
    padding: 0;
    border-radius: 0;
  }
}
