body {
  padding-top: ($navbar-padding-y * 2) + $nav-link-height;
}

img {
  max-width: 100%;
}

.display-5 {
  font-size: $display5-size;
  line-height: $display-line-height;
}

.icon {
  display: inline-block;
  font-size: inherit;
  width: 1em;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;

  path {
    fill: currentColor;
  }
}

.navbar-logo {
  height: 30px;
  width: 103px;
}

.stage {
  @include gradient-directional(darken($primary, 10%), $primary, 0deg)
}

.stage-image {
  height: 0;
  padding-bottom: 40%;
  overflow: hidden;
}
