<footer>
  <div class="container py-16">

    <div class="grid md:grid-cols-3 gap-8">

      <div>
        <img src="/images/linkace_logo.svg" alt="LinkAce Logo" class="navbar-logo">
        <div class="mt-4 text-muted text-sm">
          &copy; {{ now.Format "2006" }} LinkAce &amp; <a href="{{ .Site.Params.AboutMeWebsite }}">Kovah.de</a>
        </div>
      </div>

      <div class="flex md:justify-center items-center gap-8 text-3xl">
        <a href="{{ .Site.Params.Github }}" class="inline-block" title="Github repository">
          {{ partial "icons/github.html" }}
        </a>
        <a href="{{ .Site.Params.Twitter }}" class="inline-block" title="Twitter profile">
          {{ partial "icons/twitter.html" }}
        </a>
        <a href="{{ .Site.Params.Mastodon }}" class="inline-block" title="Mastodon profile">
          {{ partial "icons/mastodon.html" }}
        </a>
      </div>

      <div class="text-sm md:text-right">
        <div class="mb-2">LinkAce Hosting is powered by</div>
        <a href="https://hetzner.cloud/?ref=77Qtn2Mu0tDz" class="inline-block">
          {{ partial "icons/hetzner.html" }}
        </a>
        <div class="mt-2 text-xs">Get 20€ when you sign up using <a href="https://hetzner.cloud/?ref=77Qtn2Mu0tDz">our friends link</a>.</div>
      </div>

    </div>

  </div>
</footer>
