<footer class="py-7 text-center">
  <div class="container">

    <div class="mb-7 small text-muted">
      <div class="mb-2">LinkAce servers are powered by</div>
      <a href="https://hetzner.cloud/?ref=77Qtn2Mu0tDz" class="d-block">{{ partial "icons/hetzner.html" }}</a>
      <div class="mt-3">Get 20€ when you sign up using <a href="https://hetzner.cloud/?ref=77Qtn2Mu0tDz">our friends link</a>.</div>
    </div>

    <div class="social mb-6 display-5">
      <a href="{{ .Site.Params.Github }}" class="d-inline-block mr-3" title="Github repository">
        {{ partial "icons/github.html" }}
      </a>
      <a href="{{ .Site.Params.Twitter }}" class="d-inline-block mr-3" title="Twitter profile">
        {{ partial "icons/twitter.html" }}
      </a>
      <a href="{{ .Site.Params.Reddit }}" class="d-inline-block mr-3" title="Reddit Community">
        {{ partial "icons/reddit.html" }}
      </a>
      <a href="{{ .Site.Params.Chat }}" class="d-inline-block mr-3" title="Chat and Support">
        {{ partial "icons/chat.html" }}
      </a>
    </div>
    
    <div class="text-muted small">
      &copy; {{ now.Format "2006" }} LinkAce / <a href="https://www.kovah.de">Kovah.de</a>
    </div>

  </div>
</footer>
