<nav class="navbar navbar-expand-lg bg-primary navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <span class="visually-hidden">LinkAce</span>
      <img src="/images/linkace_logo_white.svg" alt="LinkAce Logo" class="navbar-logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/{{ .Site.Params.DocsCurrentVersion }}">Docs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/community">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/support">Support</a>
        </li>
        <li class="nav-item ml-0 ml-lg-2">
          <a href="/#install" class="btn btn-outline-light">Install</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
