<nav class="navbar">
  <div class="navbar-content">
    <a class="navbar-brand" href="/">
      <span class="sr-only">LinkAce</span>
      <img src="/images/linkace_logo_white.svg" alt="LinkAce Logo" class="navbar-logo">
    </a>
    <button class="navbar-toggler btn btn-sm btn-secondary" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="mr-2">Menu</span>{{ partial "icons/toc.html" }}
    </button>
    <div class="navbar-collapse ml-auto" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/{{ .Site.Params.DocsCurrentVersion }}">Docs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/community">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/support">Support</a>
        </li>
        <li class="nav-item">
          <a href="/#install" class="btn btn-secondary">Install</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
