{{ $appjs := resources.Get "app.js" | fingerprint }}
<script src="{{ $appjs.Permalink | relURL }}"></script>

<noscript><img src="https://analytics.kovah.de/ingress/e2c6ad69-2a8d-4bd3-96d5-bb7d12adb339/pixel.gif"></noscript>
<script src="https://analytics.kovah.de/ingress/e2c6ad69-2a8d-4bd3-96d5-bb7d12adb339/script.js"></script>

<script type="text/javascript">
  window.omnisend = window.omnisend || [];
  omnisend.push(["accountID", "5fd107358a48f7337bc174d3"]);
  omnisend.push(["track", "$pageViewed"]);
  !function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="https://omnisrc.com/inshop/launcher-v2.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)}();
</script>
