<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ partial "head.html" . }}
</head>
<body>

{{ partial "navbar.html" . }}

<main>
  {{ partial "landing/stage.html" . }}
  {{ partial "landing/teaser.html" . }}
  {{ partial "landing/v2-release.html" . }}
  {{ partial "landing/demo.html" . }}
  {{ partial "landing/install.html" . }}
  {{ partial "landing/aboutme.html" . }}
</main>

{{ partial "landing/donate.html" . }}
{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>
