<div>
  <select class="form-control cursor-pointer" id="v2-upgrade-select">
    <option>Select your method...</option>
    <option value="docker-simple">Docker with a single image (called simple or php-nginx)</option>
    <option value="docker-advanced">Docker with multiple images (called advanced installation)</option>
    <option value="docker-manual">Docker without using compose (docker run ...)</option>
    <option value="php">PHP installation (downloaded .zip package)</option>
  </select>
</div>
