---
import MarkdownLayout from "~/layouts/MarkdownLayout.astro";

export async function getStaticPaths() {
  return [
    {params: {version: 'v1'}},
    {params: {version: 'v2'}}
  ];
}

const doc = Astro.props;
const {version, slug} = Astro.params;
---

<MarkdownLayout frontmatter={doc.data}>
  <p>Version: {version}</p>
  <p>URL: {doc.slug}</p>
  <slot/>
</MarkdownLayout>
