<section class="py-7">
  <div class="container">

    <div class="px-4 px-lg-7">
      <div class="d-lg-flex align-items-center">

        <div class="text-center text-lg-left mb-5 mb-lg-0 mr-lg-5 flex-shrink-0">
          <img src="https://www.gravatar.com/avatar/67814754db25cadba604a30d3b8eed30?s=100" alt="Avatar of Kovah" class="rounded-circle">
        </div>

        <div class="text-large">
          Hi, I am Kevin, creator of LinkAce. This app is a personal side project and completely open source.
          Find me on <a href="https://twitter.com/kovah_kvh">Twitter</a>, or visit my
          personal website <a href="https://kovah.de">Kovah.de</a>
        </div>

      </div>
    </div>

  </div>
</section>
