<section class="py-32">
  <div class="container">

    <div class="max-w-screen-md mx-auto">
      <div class="flex items-center flex-col md:flex-row gap-8 lg:gap-16">

        <div class="text-center">
          <img src="https://www.gravatar.com/avatar/67814754db25cadba604a30d3b8eed30?s=150" alt="Avatar of Kovah" class="rounded-full">
        </div>

        <div class="text-lg prose prose-blue">
          Hi, I am Kevin,<br>creator of LinkAce and many other open source projects.<br>Find me on <a href="{{ .Site.Params.AboutMeMastodon }}">Mastodon</a>, <a href="{{ .Site.Params.AboutMeBluesky }}">Bluesky</a>, <a href="{{ .Site.Params.AboutMeTwitter }}">Twitter</a>, or visit my website <a href="{{ .Site.Params.AboutMeWebsite }}">Kovah.de</a>
        </div>

      </div>
    </div>

  </div>
</section>
