<section id="demo" class="pt-6 pt-md-0">
 <div class="container">

   <div class="row">
     <div class="col-12 col-md-6">
       <div class="d-flex align-items-center flex-wrap h-100">
         <div>
           <h2>Try the Demo</h2>
           <p class="my-3 my-lg-4 pr-md-5">
             I set up a demo server where you can try LinkAce
             before installing it on your own server.
           </p>
           <a href="{{ .Site.Params.DemoUrl }}" class="btn btn-primary">Try LinkAce</a>
         </div>
       </div>
     </div>
     <div class="col-12 col-md-6">
       <img src="/images/preview/linkace_iphone.png" alt="LinkAce mobile device demo" class="mt-6 mt-mb-0">
     </div>
   </div>

 </div>
</section>
