<section id="demo" class="pt-16 bg-white">
 <div class="container">

   <div class="grid grid-cols-1 md:grid-cols-2">
     <div class="col-12 col-md-6">
       <div class="flex items-center flex-wrap h-full">
         <div>
           <h2 class="text-2xl font-bold">Try the Demo</h2>
           <p class="mt-4 mb-8">
             You can try LinkAce before installing it on your own server.
           </p>
           <a href="{{ .Site.Params.DemoUrl }}" class="btn btn-primary btn-lg">Try LinkAce</a>
         </div>
       </div>
     </div>
     <div class="col-12 col-md-6">
       <img src="/images/preview/linkace_mobile.jpg" alt="LinkAce mobile device demo" class="mt-6 mt-mb-0">
     </div>
   </div>

 </div>
</section>
