<section id="install" class="py-7 py-md-8 bg-primary text-light text-center">
  <div class="container">

    <div class="mb-5 px-3 px-md-8">
      <h2 class="font-weight-bold mb-4">Install LinkAce</h2>
      <p class="px-xl-7">
        LinkAce ships with pre-configured Docker configurations and a built-in web installer to make
        things as easy as possible.
        Installation via Docker is the recommended way.
      </p>
    </div>

    <div class="row">
      <div class="col-12 col-md-5 offset-md-1 py-4">
        <div class="display-4 mb-3">{{ partial "icons/docker.html" }}</div>
        <h4>Install with Docker</h4>
        <div class="mt-4">
          <a href="{{ .Site.Params.WikiDockerSetupUrl }}" class="btn btn-light mr-2">Docker Guide</a>
          <a href="{{ .Site.Params.DockerHub }}" class="btn btn-light">Docker Hub</a>
        </div>
      </div>
      <div class="mt-5 mt-sm-0 col-12 col-md-5 py-4">
        <div class="display-4 mb-3">{{ partial "icons/php.html" }}</div>
        <h4>Install without Docker</h4>
        <div class="mt-4">
          <a href="{{ .Site.Params.WikiServerSetupUrl }}" class="btn btn-light">Server Guide</a>
        </div>
      </div>
    </div>

    <div class="mt-8 px-3 px-md-8">
      <h2 class="font-weight-bold mb-4">LinkAce Hosting</h2>
      <p class="px-xl-7">
        With hosting for LinkAce you can experience the application without the need of installing and maintaining it on
        your own. The hosting offer is currently in the making.
      </p>
      <p class="px-xl-7">
        Sign up for the newsletter to get notified.
      </p>
    </div>

    <div class="row mt-6">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3">
        <iframe name="iframe1" id="iframe1" frameborder="0" border="0" cellspacing="0"
            src="https://forms.omnisrc.com/signup/v1/5fd107358a48f7337bc174d3_5fd1dfa78a48f7148f6f7e20.html"
            style="overflow:scroll;width: 100%;height:100%;border-width:0px;height:450px">
        </iframe>
      </div>
    </div>

  </div>
</section>
