<section id="install" class="py-32 bg-blue-500 text-white text-center">
  <div class="container">

    <h2 class="text-4xl font-bold">Install LinkAce</h2>
    <p class="mt-8 text-lg max-w-screen-md mx-auto">
      LinkAce ships with pre-configured Docker configurations and a built-in web installer to make
      things as easy as possible. Installation via Docker is the recommended way.
    </p>

    <div class="mt-16 grid grid-cols-1 md:grid-cols-3 gap-16 md:gap-8">
      <div>
        <div class="text-6xl mb-4">{{ partial "icons/docker.html" }}</div>
        <h4 class="text-lg font-bold">Install with Docker</h4>
        <div class="mt-4">
          <a href="{{ .Site.Params.WikiDockerSetupUrl }}" class="btn btn-secondary btn-lg">Docker Guide</a>
        </div>
      </div>
      <div>
        <div class="text-6xl mb-4">{{ partial "icons/php.html" }}</div>
        <h4 class="text-lg font-bold">Install without Docker</h4>
        <div class="mt-4">
          <a href="{{ .Site.Params.WikiServerSetupUrl }}" class="btn btn-secondary btn-lg">Server Guide</a>
        </div>
      </div>
      <div>
        <div class="text-6xl mb-4">{{ partial "icons/server.html" }}</div>
        <h4 class="text-lg font-bold">Official Hosting <span class="badge badge-warning text-xs">Beta</span></h4>
        <div class="mt-4">
          <a href="{{ .Site.Params.HostingUrl }}" class="btn btn-secondary btn-lg">Join Waitlist</a>
        </div>
      </div>
    </div>

  </div>
</section>
