<section class="stage text-light text-center">
  <div class="container">
    <div class="pt-8 pb-7">
      <h1 class="display-4 fw-bold mb-4">LinkAce</h1>
      <h4 class="fw-normal">Your self-hosted bookmark archive. Free and open source.</h4>
    </div>
    <div class="stage-image">
      <picture>
        <source
            type="image/jpg"
            media="(max-width: 960px)"
            srcset="/images/preview/dashboard-preview_2.0_sm.jpg" />
        <img src="/images/preview/dashboard-preview_2.0.jpg" alt="LinkAce Dashboard Preview">
      </picture>
    </div>
  </div>
</section>
