<section class="bg-gradient-to-b from-blue-500 to-blue-700 text-center">
  <div class="container">
    <div class="py-32 text-white">
      <h1 class="text-5xl sm:text-6xl font-bold mb-4">LinkAce</h1>
      <h2 class="text-2xl">Your self-hosted bookmark archive. Free and open source.</h2>
    </div>
    <div class="pb-[40%] h-0 overflow-hidden">
      <picture>
        <source
            type="image/jpg"
            media="(max-width: 960px)"
            srcset="/images/preview/dashboard-preview_2.0_sm.jpg" />
        <img src="/images/preview/dashboard-preview_2.0.jpg" alt="LinkAce Dashboard Preview">
      </picture>
    </div>
  </div>
</section>
