<section class="container py-32">

  <p class="text-xl lg:text-2xl mb-32 text-center max-w-screen-md mx-auto">LinkAce is a self-hosted tool for effortlessly
    archiving, organizing, and sharing your favorite web links. With a clean interface, you can save articles, bookmark
    tools, and preserve important content long-term. Easily categorize and retrieve your links, or share your collection
    with others.</p>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-16">

    <div class="teaser-card">
      <div class="teaser-icon">{{ partial "icons/folders.html" }}</div>
      <div>
        <h3>Tags & Lists</h3>
        <p>Choose tags to categorize links, add them to custom lists to group them by a topic or occasion.</p>
      </div>
    </div>

    <div class="teaser-card">
      <div class="teaser-icon">{{ partial "icons/users.html" }}</div>
      <div>
        <h3>Multiple Users + SSO</h3>
        <p>LinkAce supports multiple users and even offers Single Sign On via OAuth or OIDC. Links, lists and tags can be shared amongst the users or used together.</p>
      </div>
    </div>

    <div class="teaser-card">
      <div class="teaser-icon">{{ partial "icons/monitor.html" }}</div>
      <div>
        <h3>Continuous Monitoring</h3>
        <p>All saved links are checked for their availability on a regular basis. You get a notification if a website was moved or became unavailable.</p>
      </div>
    </div>

    <div class="teaser-card">
      <div class="teaser-icon">{{ partial "icons/shield.html" }}</div>
      <div>
        <h3>Automatic Archiving</h3>
        <p>After you saved a link, it will automatically saved by the Internet Archive. A reliable backup without maintenance. LinkAce will also monitor your links and notify you, if something's wrong.</p>
      </div>
    </div>

    <div class="teaser-card">
      <div class="teaser-icon">{{ partial "icons/search.html" }}</div>
      <div>
        <h3>Search, filter, order</h3>
        <p>A powerful search helps you find the links you are looking for. Filter and order the results by various properties.</p>
      </div>
    </div>

    <div class="teaser-card">
      <div class="teaser-icon">{{ partial "icons/language.html" }}</div>
      <div>
        <h3>Available in 15 Languages</h3>
        <p>Manage your links in English, German, Frensh, Japanese, Spanish, Polish, Chinese and more languages.</p>
      </div>
    </div>

    <div class="teaser-card">
      <div class="teaser-icon">{{ partial "icons/zapier-logomark.html" }}</div>
      <div>
        <h3>Integration with Zapier</h3>
        <p>Connect your LinkAce with over 5000 other applications like Google Drive, Discord or Slack through <a href="{{ .Site.Params.Zapier }}" class="link">Zapier</a>.</p>
      </div>
    </div>

    <div class="teaser-card">
      <div class="teaser-icon">{{ partial "icons/api.html" }}</div>
      <div>
        <h3>REST API</h3>
        <p>LinkAce offers a REST API for all features, so you can control and access all your data from other applications.</p>
      </div>
    </div>

    <div class="teaser-card">
      <div class="teaser-icon">{{ partial "icons/user-unlock.html" }}</div>
      <div>
        <h3>Guest Mode & Privacy</h3>
        <p>You can allow guests to view your link collection. Access can be controlled for each link, tag and list separately.</p>
      </div>
    </div>

    <div class="teaser-card">
      <div class="teaser-icon">{{ partial "icons/sliders.html" }}</div>
      <div>
        <h3>Customize everything</h3>
        <p>LinkAce offers a wide range of configuration options to customize it for your specific needs.</p>
      </div>
    </div>

  </div>

  <div class="mt-24">
    <a href="/features" class="text-2xl flex items-center justify-end group hover:text-blue-700 focus:text-blue-700">
      <span class="mr-2">Discover all Features</span>
      <span class="transition group-hover:translate-x-2 group-focus:translate-x-2">{{ partial "icons/angle-right.html" }}</span>
    </a>
  </div>

</section>
