<div class="mt-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
  <div class="outline-card">
    <h4 class="card-title mt-0">Install with Docker</h4>
    <p>This is the recommended way of installing LinkAce on a server with Docker.</p>
    <p><a href='{{ relref . (.Get "docker") }}' class="btn btn-primary btn-lg">Start Setup</a></p>
  </div>
  <div class="outline-card">
    <h4 class="card-title mt-0">Install without Docker</h4>
    <p>Install LinkAce on a server with plain PHP, or on shared hosting.</p>
    <p><a href='{{ relref . (.Get "nodocker") }}' class="btn btn-primary btn-lg">Start Setup</a></p>
  </div>
</div>
